@font-face {
font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
src: url(https://fonts.gstatic.com/s/abhayalibre/v14/e3tmeuGtX-Co5MNzeAOqinEQfEnXgPRE4g.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
    background-color : rgb(0, 0, 0); 
	color : #dad7cd;
	font-size : 1.5em;
    font-family: 'Abhaya Libre', 'Times New Roman', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: rgb(11, 54, 11);
    color: rgb(221, 221, 221); 
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
h1 {
    margin-left: 2em;
    margin-right: 2em;
    color: rgb(221, 221, 221);
    font-size: 2em;
    text-align: center;
}
main {
    margin: 2em;
    text-align: center;
}